
.custom-body-bg{
    background-color: antiquewhite;
}

.custom-bg{
    background-color: rgb(247, 211, 168);
}

.season-bg{
    background-color: beige;
}

.custom-border {
    border-top: 2px solid #000; 
}

.no-bullets{
    list-style-type: none; 
    padding-left: 0;
}
/* kod z tutorialu https://www.youtube.com/watch?v=3AWNCldVaH0*/
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
}

@media(min-width:768px){
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next{
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev{
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start{
        transform: translateX(0);
    }

}

@media(max-width:767px){
    .carousel-inner .carousel-item > div{
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child{
        display: block;
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;  
    height: 20px; 
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; 
    top: 50%;           
    transform: translateY(-50%); 
    width: 40px;       
    height: 40px;      
    padding: 0;    
}

.border-itemy-kosik{
    border-bottom: 2px solid black;
}

.border-nadpisu{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.custom-spacing{
    margin-right: 60px;
    margin-left: 50px;
}

.card-spacing{
    margin-left: 50px;
}

.payment-bg{
    background-color: darkgray;
}