body {
    background-image: url('obrazky/trava.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat; 
    height: 100%; 
    margin: 0; 
}


.custom-body-bg{
    background-color: antiquewhite;
    border-radius: 15px;
}

.custom-bg{
    background-color: rgb(247, 211, 168);
}

.season-bg{
    background-color: beige;
}

.product-name {
    font-size: 2rem;
    font-weight: bold;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-description {
    margin-top: 20px;
    font-size: 1rem;
}

#quantity {
    width: 80px;
}

.color-selection {
    display: flex;
    gap: 10px; /* Medzera medzi guľôčkami */
}

/* Guľôčky, ktoré reprezentujú farby */
.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Zaoblenie na kruh */
    display: inline-block;
    cursor: pointer; /* Umožní kliknutie na guľôčku */
    border: 2px solid #ccc; /* Okraje okolo guľôčky */
    transition: border-color 0.3s ease; /* Plynulý prechod pri zmene okraja */
}

.color-circle:hover {
    border-color: #000; /* Zmena okraja pri prechode myšou */
}

.size-option {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.size-option:hover {
    background-color: #ddd;
    border-color: #000;
}

.custom-border {
    border-top: 2px solid #000; 
}

.filter-button {
    background-color: transparent;
    border-radius: 20px;
    padding: 8px 16px; /* Zmenšenie paddingu na tlačidle */
    border: 2px solid black;
    color: black;
}

.order-by-button {
    background-color: #292929;
    color: #f8f9fa;
    border-radius: 20px;
    padding: 8px 16px; /* Zmenšenie paddingu na tlačidle */
    border: 2px solid black;
}
.order-by-button:hover{
    background-color: rgba(255, 255, 255, 0.78);
    color: black;
}

.filter-button:hover {
    background-color: rgba(255, 255, 255, 0.78);
}


.no-bullets{
    list-style-type: none; 
    padding-left: 0;
}
/* kod z tutorialu https://www.youtube.com/watch?v=3AWNCldVaH0*/
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
}

.category-item {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 16px;
    border-right: 2px solid black;
    padding-right: 10px;

}
.category-item:last-child {
    border-right: none;
}

@media(min-width:768px){
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next{
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev{
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start{
        transform: translateX(0);
    }

}

@media(max-width:767px){
    .carousel-inner .carousel-item > div{
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child{
        display: block;
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;  
    height: 20px; 
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; 
    top: 50%;           
    transform: translateY(-50%); 
    width: 40px;       
    height: 40px;      
    padding: 0;    
}

.carousel-inner .carousel-item img {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
  }

.border-itemy-kosik{
    border-bottom: 2px solid black;
}

.border-nadpisu{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.custom-spacing{
    margin-right: 60px;
    margin-left: 50px;
}

.card-spacing{
    margin-left: 50px;
}

.payment-bg{
    background-color: darkgray;
}

.box{
    display: inline-block;
    padding: 10px;
    border: 2px solid #000;
}

.small-font {
    font-size: 18px;
}